@font-face {
    font-family: 'Malgun';
    src: url('/public/font/MorfinSans-Regular.ttf') format('truetype');
}

.header {
    position: sticky; /* Делаем шапку "липкой" */
    top: 0; /* Прилипаем к верхнему краю */
    z-index: 1000; /* Убедимся, что шапка поверх других элементов */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #BDEAFF;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-family: 'Malgun', sans-serif;
}

.logo img {
    height: 50px;
    width: auto;
    transition: transform 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
}

.navbar {
    display: flex;
    gap: 40px;
    font-family: 'Malgun', sans-serif; /* Применяем шрифт */
}

.navbar__link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s, text-shadow 0.3s;
    font-size: 25px;
    font-family: 'Malgun', sans-serif; /* Применяем шрифт */
}

.navbar__link:hover {
    color: #0056b3;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    .navbar__link {
        font-size: 24px;
    }
}