body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Main background color */
}

.block_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px; /* Allow content to adapt to height */
    background: url('/src/image/Group\ 2\ \(2\).svg') no-repeat center center / cover; /* Block background */
}



/* Adaptability */
@media (max-width: 768px) {
    .block {
        padding: 15px;
    }

    .park-title {
        font-size: 2em;
    }

    .park-phone, .park-address {
        font-size: 1em;
    }
}