@font-face {
  font-family: 'Morfin';
  src: url('/public//font/MorfinSans-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Morfin', -apple-system, sans-serif !important;
  margin: 0;
}